
 <!-- 
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div class="col-auto">
            <%= render "devise/shared/error_messages", resource: resource %> <br><br>
          </div>

            <div class="col-auto">
              <%= f.label :name, class:"form-label m-2" %><br />
              <%= f.text_field :name, class:"form-control-lg" %>
            </div>

            <div class="col-auto">
              <%= f.label :email, class:"form-label m-2" %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control-lg" %>
            </div>

            <div class="col-auto">
              <%= f.label :address, class:"form-label m-2" %><br />
              <%= f.text_field :address, class:"form-control-lg" %>
            </div>

            <div class="col-auto">
              <%= f.label :phone_number, class:"form-label m-2" %><br />
              <%= f.text_field :phone_number, class:"form-control-lg" %>
            </div>

            <div class="col-auto">
              <%= f.label :password, class:"form-label m-2" %>
              <% if @minimum_password_length %>
              <em class="text-white">(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password", class:"form-control-lg" %>
            </div>

            <div class="col-auto">
              <%= f.label :password_confirmation, class:"form-label m-2" %><br />
              <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control-lg" %>
            </div>
       
            <p class="text-white"> Avatar </p>
            <div class="col-auto">
              <%= image_tag(@user.avatar.url) if @user.avatar && @user.avatar.url %>
                
                    <%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png', class:"form-control-lg" %>
                    <%= f.hidden_field :avatar_cache, class:"form-control-lg" %>
            </div><br><br> 
            
            <div class="actions">
              <%= f.submit "Créer mon compte", class:"btn btn-primary mb-3 " %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %> <br>
      <div> 
    </div>
</section> -->



  <div class="page-heading">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
     <div class="page-title">
     <h2> Create an Account</h2>
  </div>
        </div>
        <!--col-xs-12-->
      </div>
      <!--row-->
    </div>
    <!--container-->
  </div>
    
       
<!-- BEGIN Main Container -->  
          
       <div class="main-container col1-layout wow bounceInUp animated animated" style="visibility: visible;">     
              
	       <div class="main">                     
                            <div class="account-login container">
  <!--page-title-->

        
        <fieldset class="col2-set">
            <div class="col-1 new-users"> 
                  <strong>New Customers</strong>    
                <div class="content">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    
                    <p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
                    <br>
                     <div class="buttons-set">
                            <%= render "devise/shared/error_messages", resource: resource %> <br><br>
                      </div>
                </div>
            </div>
            <div class="col-2 registered-users">
             <strong>Registered Customers</strong>             
                <div class="content">
                    
                    <p>If you don't have an account with us, please create here.</p>
                    <ul class="form-list">
                          <li>
                             <label for="email">Name<em class="required">*</em></label>
                            <div class="input-box">
                              
                               <%= f.text_field :name, class:"input-text" %>
                            </div>
                        </li>
                        <li>
                             <label for="email">Email Address<em class="required">*</em></label>
                            <div class="input-box">
                                <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"input-text" %>
                            </div>
                        </li>
                        <li>
                            <label for="pass">Password<em class="required">*</em></label>
                            <div class="input-box">
                              <% if @minimum_password_length %>
                              <em class="text-white">(<%= @minimum_password_length %> characters minimum)</em>
                              <% end %><br />
                              <%= f.password_field :password, autocomplete: "new-password", class:"input-text" %>
                            </div>
                        </li>
                         <li>
                            <label for="pass">Password confirmation<em class="required">*</em></label>
                            <div class="input-box">
                                <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"input-text" %>
                            </div>
                        </li>
                                                                    </ul>
                     <div class="buttons-set">
                                   <%= f.submit "Créer mon compte", class:"btn" %>
                    </div> 
      <% end %>

                <br><br>



                    

                      <div class="forgot-word">
                             <%= render "devise/shared/links" %>
                      </div>
                 <!--buttons-set-->
                  </div> <!--content-->                               
            </div> <!--col-2 registered-users-->
                   </fieldset> <!--col2-set-->
   
</div> <!--account-login-->
         
	       </div><!--main-container-->
          
          </div> <!--col1-layout-->
          

  
 
   <div class="our-features-box">
     <div class="container">
     <div class="row">
      <ul>
        <li>
          <div class="feature-box">
            <div class="icon-truck"></div>
            <div class="content">Free shipping on order over $99</div>
          </div>
        </li>
        <li>
          <div class="feature-box">
            <div class="icon-support"></div>
            <div class="content">Have a question?<br>
              +1 800 789 000</div>
          </div>
        </li>
        <li>
          <div class="feature-box">
            <div class="icon-money"></div>
            <div class="content">100% Money back guarantee</div>
          </div>
        </li>
        <li>
          <div class="feature-box">
            <div class="icon-return"></div>
            <div class="content">30 days return service</div>
          </div>
        </li>
        
      </ul>
    </div>
    </div>
  </div>
  <!-- For version 1,2,3,4,6 -->
  