<div class="comment-respond">
        <%= form_with(model: [advert, comment]) do |form| %>
        <% if comment.errors.any? %>
            <div id="error_explanation">
            <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
            <ul>
            <% comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
            </div>
        <% end %>
        <p class="comment-notes">
                Required fields are marked
                                    <span class="required">*</span>
            </p>
            <div class="comment-form-author">
            <%= form.label :name %>
            <%= form.text_field :name, id: "comment_name_#{advert.id}" %>
        </div>
        <div class="comment-form-email">
            <span id="email-notes">Your email address will not be published.</span>
            <%= form.label :email %>
            <%= form.text_field :email, id: "comment_email_#{advert.id}" %>
        </div>
        <div class="comment-form-author">
            <%= form.label :content %>
            <%= form.text_area :content, id: "comment_content_#{advert.id}" %>
        </div>
        <div class="form-submit">
            <%= form.submit "Comment", class:"submit" %>
        </div>
        <% end %>
</div>