<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @advert.title %>
</p>

<p>
  <strong>Category:</strong>
  <%= @advert.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @advert.description %>
</p>

<p>
  <strong>Image Principale:</strong>
  
   <%= image_tag(@advert.image.url, width: "400px") if @advert.image && @advert.image.url  %>
</p>

<p>
  <strong>Image 2:</strong>
  
   <%= image_tag(@advert.image2.url, width: "400px") if @advert.image2 && @advert.image2.url  %>
</p>

<p>
  <strong>Image 3:</strong>
  
   <%= image_tag(@advert.image3.url, width: "400px") if @advert.image3 && @advert.image3.url  %>
</p>

<p>
  <strong>Image 
  :</strong>
  
   <%= image_tag(@advert.image4.url, width: "400px") if @advert.image4 && @advert.image4.url  %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @advert.prix %>
</p>

<p>
  <strong>Localisation:</strong>
  <%= @advert.localisation %>
</p>

<%= link_to 'Edit', edit_advert_path(@advert) %> |
<%= link_to 'Back', adverts_path %>
