<!DOCTYPE html>
<html>
  <head>
    <title>Shopannonce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

 

<!-- JavaScript Bundle with Popper -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
    <link rel="stylesheet" href="https://use.typekit.net/hxi4fbo.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600,800,400' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,500,500i,700,700i,900" rel="stylesheet">
       
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    
    <style>
      
     
      /* Fixez le bouton sur le côté gauche de la page the button on the left side of the page */
     
      /* Stylez et fixez le bouton sur la page */
    
      /* Positionnez la forme Popup */
      .login-popup {
      position: relative;
      text-align: center;
      width: 100%;
      }
      /* Masquez la forme Popup */
      .form-popup {
      display: none;
      position: fixed;
      /*left: 45%;
      top:5%;
      transform: translate(-45%,5%);*/
      width: 100px;
      border: 2px solid #666;
      z-index: 9;
      }
      /* Styles pour le conteneur de la forme */
      .form-container {
      max-width: 300px;
      padding: 20px;
      background-color: orange;
      }
      /* Largeur complète pour les champs de saisie */
      
      /* Stylez le bouton de connexion */
      .form-container .btn {
      background-color: #8ebf42;
      color: #fff;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      width: 100%;
      margin-bottom:10px;
      opacity: 0.8;
      }
      /* Stylez le bouton pour annuler */
      .form-container .cancel {
      background-color: #cc0000;
      }
      /* Planez les effets pour les boutons */
      .form-container .btn:hover, .open-button:hover {
      opacity: 1;
      }
    </style>
  </head>

  <body>
        <% if flash.present? %>
                
              

                    <div class="login-popup">
                    <div class="form-popup" id="popupForm">
                        <div  class="form-container">
                        
                                  <% flash.each do |key, value| %>
                                 <%= content_tag(:div, value, class: "#{key}") %>
                                <% end %>
                        <button type="button" class="btn cancel" onclick="closeForm()">Fermer</button>
                        </div>
                    </div>
                    </div>
                    <script>

                        document.getElementById("popupForm").style.display="block";
                    
                    
                    function closeForm() {
                        document.getElementById("popupForm").style.display="none";
                    }
                    </script>
                
                  
    
                
            <% end %>
  
     <% if user_signed_in? %>
         <%= render "partials/head"%>
    <% else %>
        <%= render "partials/header"%>
    <% end %>  
    <%= yield %>
     <%= render 'partials/footer' %>
         <!-- JavaScript --> 
          <script src="/js/jquery.min.js"></script> 
          <script src="/js/bootstrap.min.js"></script> 
          <script src="/js/parallax.js"></script> 
          <script src="/js/revslider.js"></script> 
          <script src="/js/common.js"></script> 
          <script src="/js/jquery.bxslider.min.js"></script> 
          <script src="/js/owl.carousel.min.js"></script> 
          <script src="/js/jquery.mobile-menu.min.js"></script> 
          <script src="/js/countdown.js"></script> 

                  <script>
                jQuery(document).ready(function(){
                    jQuery('#thm-rev-slider').show().revolution({
                        dottedOverlay: 'none',
                        delay: 5000,
                        startwidth: 0,
                        startheight:750,

                        hideThumbs: 200,
                        thumbWidth: 200,
                        thumbHeight: 50,
                        thumbAmount: 2,

                        navigationType: 'thumb',
                        navigationArrows: 'solo',
                        navigationStyle: 'round',

                        touchenabled: 'on',
                        onHoverStop: 'on',
                        
                        swipe_velocity: 0.7,
                        swipe_min_touches: 1,
                        swipe_max_touches: 1,
                        drag_block_vertical: false,
                    
                        spinner: 'spinner0',
                        keyboardNavigation: 'off',

                        navigationHAlign: 'center',
                        navigationVAlign: 'bottom',
                        navigationHOffset: 0,
                        navigationVOffset: 20,

                        soloArrowLeftHalign: 'left',
                        soloArrowLeftValign: 'center',
                        soloArrowLeftHOffset: 20,
                        soloArrowLeftVOffset: 0,

                        soloArrowRightHalign: 'right',
                        soloArrowRightValign: 'center',
                        soloArrowRightHOffset: 20,
                        soloArrowRightVOffset: 0,

                        shadow: 0,
                        fullWidth: 'on',
                        fullScreen: 'on',

                        stopLoop: 'off',
                        stopAfterLoops: -1,
                        stopAtSlide: -1,

                        shuffle: 'off',

                        autoHeight: 'on',
                        forceFullWidth: 'off',
                        fullScreenAlignForce: 'off',
                        minFullScreenHeight: 0,
                        hideNavDelayOnMobile: 1500,
                    
                        hideThumbsOnMobile: 'off',
                        hideBulletsOnMobile: 'off',
                        hideArrowsOnMobile: 'off',
                        hideThumbsUnderResolution: 0,

                        hideSliderAtLimit: 0,
                        hideCaptionAtLimit: 0,
                        hideAllCaptionAtLilmit: 0,
                        startWithSlide: 0,
                        fullScreenOffsetContainer: ''
                    });
                });
                </script> 
        <script>
            
        </script> 
        <!-- Hot Deals Timer 1-->

        <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
        </script>
        

  </body>
</html>


  